streamlit
python-dotenv
PyPDF2
python-docx
python-pptx
langgraph
langchain
langsmith
langchain-community
langchain-google-genai
sentence-transformers
langchain-experimental
langchain-openai
langchain-groq
Pillow
requests
xlrd==1.2.0   # untuk .xls (versi baru xlrd drop dukungan xlsx)
openpyxl
pandas
matplotlib
seaborn
openpyxl
sqlalchemy
psycopg2-binary
mysql-connector-python
sqlite3-binary
tqdm
