xlrd==1.2.0   # untuk .xls (versi baru xlrd drop dukungan xlsx)
# streamlit>=1.28.0
streamlit
python-dotenv
openpyxl
# Database
sqlalchemy>=2.0.0
sqlite-utils
psycopg2-binary
mysql-connector-python
pymysql
# LangChain core
langchain-core
# langchain-community>=0.2.0
langchain-community
pandas
numpy
openpyxl
plotly
matplotlib
seaborn
faiss-cpu
tqdm

langchain-experimental
langchain-openai>=0.1.0
# langsmith>=0.1.0
langsmith
streamlit-chat
sentence-transformers
transformers
toml
pandas
# pandas>=2.0.0
matplotlib
seaborn
scikit-learn
Pillow
requests

# LangChain & Vectorstore
langchain
# langchain==0.1.5
langchain-experimental
# langchain-experimental>=0.0.57
langchain-community
faiss-cpu

# Dokumen loaders
PyPDF2
python-docx
python-pptx

# OCR
easyocr
torch
torchvision

google-generativeai
langchain-google-genai
langgraph
langchain-groq
