langchain-community
openpyxl
python-dotenv
toml
PIL
requests
pillow
PyPDF2
python-docx
python-pptx
langchain
sentence-transformers
faiss-cpu
transformers
pathlib
# torch
streamlit
matplotlib
seaborn
pandas
numpy
plotly
pytesseract
pdfplumber
scikit-learn
langchain-google-genai
google-ai-generativelanguage
huggingface-hub
